


.shopping-info {
    border: 1px solid;
    width: 350px;

}

.card-image {
    width: 80px;
}
#shop-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}